<section id="socialIcons" itemscope itemtype="http://schema.org/LocalBusiness">
        <meta itemprop="url" content="https://willysfarm.com">
        
        <a href="https://instagram.com/willysfarm" rel="me" itemprop="sameAs"><i class="fa fa-instagram" aria-hidden="true" aria-label="Link to my pictures on Instagram" title="Instagram"></i></a>
       
        <a href="https://www.facebook.com/willysfarm/" rel="me" itemprop="sameAs"><i class="fa fa-facebook" aria-hidden="true" aria-label="Link to our Facebook" title="Facebook"></i></a>
</section>

<footer>
        <p class="left">&copy;2018 Willy's Farm and Cider Mill</p>
        <p class="right">We&nbsp;<i class="fa fa-heart" aria-hidden="true"></i>New York</p>
</footer>

</content>

<!-- Google Analytics -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','{{ site.google-analytics }}','auto');ga('send','pageview');
</script>

</body>
</html>