        <section id="socialIcons" itemscope itemtype="http://schema.org/LocalBusiness">
                <meta itemprop="url" content="https://willysfarm.com">
                
                <a href="https://instagram.com/willysfarm" rel="me" itemprop="sameAs"><i class="fa fa-instagram" aria-hidden="true" aria-label="Link to my pictures on Instagram" title="Instagram"></i></a>
               
                <a href="https://www.facebook.com/willysfarm/" rel="me" itemprop="sameAs"><i class="fa fa-facebook" aria-hidden="true" aria-label="Link to our Facebook" title="Facebook"></i></a>
        </section>

        <footer role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
                <p class="left">&copy;2018 Willy's Farm and Cider Mill</p>
                <p class="right">We&nbsp;<i class="fa fa-heart" aria-hidden="true"></i>New York</p>
        </footer>
    </body>
</html>