<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ site.title }} | {{ page.subtitle }}</title>
        <meta name="description" content="{{ page.seo-description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Icon Info -->
        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="{{ site.username }}" />
        <meta name="twitter:title" content="{{ page.title }}" />
        <meta name="twitter:description" content="{{ page.description }}" />
        <meta name="twitter:image" content="{{ page.image }}" />

        <!-- Meta Information -->
        <meta name="keywords" content="{{ page.keywords }}" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta name="og:description" content="{{ page.description }}">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.baseurl }}" />
        <meta property="og:image" content="{{ site.baseurl }}{{ page.image }}" />

        <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/library/fonts/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Passion+One:400|Roboto+Slab:300" rel="stylesheet">

        <script src="{{ site.baseurl }}/library/js/vendor/modernizr-2.6.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "{{ site.type }}",
              "name": "{{ site.title }}",
              "url": "{{ site.baseurl }}",
              "email": "{{ site.email }}",
              "foundingDate": "{{ site.foundingDate }}",
              "logo": "{{ site.baseurl }}{{ site.logo }}",
              "sameAs": [ {% for social in site.social %}
                    "{{ social.url }}", {% endfor %}
              ]
            }
        </script>
        
    </head>

    <header role="banner" itemscope itemtype="http://schema.org/WPHeader">
        <h1>{{ page.title }}</h1>

        <nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <ul>
                {% for link in site.links %}
                    <li><a class="nav-button" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    
    <body itemscope itemtype="http://schema.org/WebPage">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->