<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ site.title }} | {{ page.subtitle }}</title>
        <meta name="description" content="{{ page.seo-description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@thehsedition">
        <meta name="twitter:creator" content="@thehsedition">
        <meta name="twitter:title" content="{{ page.seo-title }}">
        <meta name="twitter:description" content="{{ page.seo-description }}">
        <meta name="twitter:image" content="{{ site.baseurl }}/library/img/{{ page.seo-title }}">
   
    <!-- OG Tags -->
        <meta property="og:title" content="{{ page.seo-title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.baseurl }}" />
        <meta property="og:image" content="{{ site.baseurl }}/img/{{ page.seo-img }}" />

        <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">

        <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/library/fonts/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Passion+One:400|Roboto+Slab:300" rel="stylesheet">

        <script src="{{ site.baseurl }}/library/js/vendor/modernizr-2.6.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script type="application/ld+json">
            {
              "@context": "{{ site.title }}",
              "@type": "{{ site.title }}",
              "name": "{{ site.title }}",
              "url": "{{ site.title }}",
              "email": "{{ site.title }}",
              "logo": "http://patrickhanus.com/tile.png",
              "sameAs": [
              ]
            }
        </script>
        
    </head>

    <header>
        <h1>{{ page.title }}</h1>
    </header>
    <nav>
        <ul>
            <li><a class="nav-button" href="/">Home</a></li>
            <li><a class="nav-button" href="/https://www.google.com/maps/dir/''/willy's+farm+and+cider+mill/@42.6034999,-74.9104093,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89dc0f128a9e150d:0x429cbfaa2edf2354!2m2!1d-74.8403694!2d42.6035212">Get Directions</a></li>
            <li><a class="nav-button" href="/things-to-do.html">Things to do</a></li>
            <li><a class="nav-button" href="/custom-pressing.html">Custom Pressing</a></li>
            <li><a class="nav-button" href="/our-story.html">Our Story</a></li>
            <li><a class="nav-button" href="/hours.html">Hours</a></li>
        </ul>
    </nav>


    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->