/* General Mobile Stylesheet */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Passion One', cursive;
	font-family: 'Roboto Slab', sans-serif;
	line-height: 26px;
	color: $black;
	box-sizing: border-box;
}

nav ul {
	text-align: center;
	margin: 20px 0;
	list-style: none;
	padding: 0;


	li {
		display: inline-block;
	}
}

.header-images {
	overflow: hidden;
	text-align: center;
	position: relative;

	img {
		//width: 60%;
	}
}

.hero {
	position: absolute;
	top: 100px;
	width: 100%;
	color: white;

	h2 {
		font-size: 3em;
		color: white;
	}

	h4 {
		margin: 0;
	}
}

header {
	width: 70%;
	margin: 0px auto;
	padding: 20px 0 30px;
	text-align: center;
}

.content {
	display: block;
	margin: 0px auto;
	position: relative;
	padding-bottom: 40px;
	width: 60%;
}

section {
	width: 100%;
	display: block;
	padding: 20px;
	border-radius: 5px;
	background: lighten(#f6f6f6, 1%);
	margin: 20px 0px;
	//box-shadow: 0px 20px 50px #d6d6d6;
}

.item {
	position: relative;
	background-size: cover;
	text-align: center;
	transition: 0.5s;
	display: flex;
	align-items: center;
	text-align: center;
	color: white;
	width: 100%;
	height: 100%;
}

.item::after {
	position: absolute;
	content: " ";
	background-color: $red;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: 0.3s;
	z-index: 5;
	opacity: 0;
}

.item:hover::after {
	opacity: 0.5;
}

img	{
	width: 100%;
}

img.inline {
	width: 300px;
	float: left;
}

.fa {
	&:hover {
		color: $blue;
	}
}

#socialIcons {
	margin-top: 60px;
	text-align: center;
	background: white;

	.fa {
		font-size: 1.5em;
		margin: 0 10px;
	}
}

footer {
	padding: 0 30px;
	bottom: 0;
	width: 100%;

	p {
		display: block;
	}

	a {
		text-decoration: none;
	}

	.fa {
		color: red;

		&:hover {
			color: $blue;
		}
	}
	
}

aside {
	position: fixed;
	top: 10px;
	right: 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.cf {
	clear: both;
}

blockquote {
	float: left;
	width: 100%;
	display: block;
	padding: 10px;
	border: 1px solid $gray;
	border-radius: 5px;
	background: #f6f6f6;
	margin: 40px 0px;
	box-shadow: 0px 20px 50px #d6d6d6;
}

hr {
	margin: 40px 0;
	border-top: 1px solid $gray;
	border-bottom: 1px solid $gray;
	border-radius: 2px;
}

/* Mobile Styles */

@media (max-width: 1000px) {
	.bio {
		height: auto;
	}

	.profile-pic {
		height: auto;
	}
}

@media (max-width: 600px) {
	h1 {
		font-size: 4em;
	}

	header {
		width: 95%;
	}

	nav {

		ul {
			
			li {
				margin: 2px 0;
				//display: block;
				//width: 50%;
			}
		}
	}

	a.nav-button {
		padding: 12px;
		margin: 0;
		display: block;

	}

	.content {
		width: 95%;
	}

	aside {
		position: relative;
		top: auto;
		right: auto;
	}
}

.-veg {
	background-image: url("/library/img/wf-1.jpg");
}

.-pumpkin {
	background-image: url("/library/img/wf-2.jpg");
}

.-honey {
	background-image: url("/library/img/wf-3.jpg");
}

.-wagon {
	background-image: url("/library/img/wf-4.jpg");
}

.-music {
	background-image: url("/library/img/wf-5.jpg");
}

.-animals {
	background-image: url("/library/img/wf-6.jpg");
}

.-photo {
	background-image: url("/library/img/wf-7.jpg");
}

.-maple {
	background-image: url("/library/img/wf-8.jpg");
}

.-pumpkin {
	background-image: url("/library/img/wf-9.jpg");
}

.-jam {
	background-image: url("/library/img/wf-10.jpg");
}

.-cider {
	background-image: url("/library/img/wf-11.jpg");
}

.-donut {
	background-image: url("/library/img/wf-12.jpg");
}

.-family {
	background-image: url("/library/img/wf-13.jpg");
}